DEBUG=0 (1 для продакшена)

SECRET_KEY="django-secret-key"

# Документация для настройки https://proproprogs.ru/django4/django4-nastroyka-pochtovogo-servera-po-smtp-protokolu
EMAIL_HOST = "smtp.yandex.ru"
EMAIL_PORT = 465
EMAIL_HOST_USER = "example@yandex.ru"
EMAIL_HOST_PASSWORD="password123"

# Настройки базы данных
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432